.hero__background-image,
.courses__background-image {
	position: absolute;
	filter: blur(3px);
	z-index: -10;
}

/* Hero Section */

.hero {
	color: var(--primary-color);
}

.hero__container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	padding: 15vh 10vw 0 10vw;
}

.hero__redirect {
	border-radius: 500px;
	border: 2px solid var(--primary-color);
	padding: 1.5vh 3vw;
}

.hero__redirect:hover {
	background-color: var(--primary-color);
}

.hero__logo {
	height: 20vh;
	filter: drop-shadow(0 0 3px black);
	margin-bottom: 5vh;
}

.hero__redirect {
	position: relative;
	top: 5vh;
}

.hero__container--bottom {
	background: linear-gradient(180deg, var(--highlight-color) 0%, var(--secondary-color) 90%);
	color: var(--secondary-color);
	position: relative;
	top: -5vh;
	height: 5vh;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.hero__text {
	position: relative;
	top: -2vh;
	text-shadow: var(--highlight-color) 0 0 5px;
}

.opacity-filter {
	top: 0;
}

.hero__background-image {
	top: 0;
	width: 100vw;
	height: 100vh;
}

/* StartNow Section */

.to-login {
	background-color: var(--secondary-color);
	display: flex;
	height: 90vh;
}

.to-login__container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50vw;
}

.to-login__image {
	border: #0e0e0e 5px solid;
	border-radius: 30px;
	padding: 3vw;
	width: 26vw;
}

.to-login__container--right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 15vh 0;
}

.to-login__redirect {
	border-radius: 500px;
	background-color: var(--highlight-color);
	width: fit-content;
	padding: 1.5vh 3vw;
}

.to-login__redirect:hover {
	background-color: var(--secondary-color);
	border: var(--highlight-color) 2px solid;
}

/* CourseList Section */

.courses {
	height: 110vh;
	color: var(--primary-color);
}

.courses > .courses__title {
	background-color: var(--highlight-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	box-shadow: #0e0e0e 0 2px 5px;
}

.courses__redirect {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5vh 10vw;
}

.courses__icon {
	height: 15vh;
}

.courses__text {
	line-height: 2;
}

.courses__redirect--reverse {
	background-color: rgba(14, 14, 14, 0.3);
	flex-direction: row-reverse;
}

.courses .opacity-filter {
	top: 200vh;
}

.courses__background-image {
	top: 200vh;
	width: 100vw;
	height: 100vh;
}

/* Footer Section */

.footer {
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3vw;
}

.footer__form {
	background-color: var(--highlight-color);
	border-radius: 0 20px 0 20px;
	box-shadow: var(--secondary-color) -0.7vw 1vh 0;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 60vh;
	width: 40vw;
	padding: 15vh;
}

.container__form-title {
	position: relative;
	top: -5vh;
	font-size: 0.7em;
}

.footer__container--right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	height: 60vh;
}

.footer__link {
	margin-right: 2vw;
}

.footer__link::before {
	margin-right: 2vw;
	content: "|";
}
